input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  min-height: 1.00em;
  padding: .30em;
}

.form-type-textarea,
.form-type-select,
.form-type-autocomplete-deluxe {
  padding: .30em;
}

.form-select {
  padding: .30em;

  /* For Chrome */
  height: auto;
}
