.layout--inner {
  padding: 0.75em;
}

#messages {
  @extend %set-max-width-and-center-element
}

// Layout frontpage with sidebar

.layout-frontpage-with-sidebar {
  @extend %layout--wrapper;

  .layout-element-alpha {
    @include breakpoint(45em) {
      @include zen-grid-item(8.5, 1);

      padding-left: 0;
    }
  }

  .layout-element-beta {
    @include breakpoint(45em) {
      @include zen-grid-item(3.5, 1, right);

      padding-right: 0;
    }
  }

  .layout-element-gamma,
  .layout-element-delta,
  .layout-element-epsilon {
    @include zen-nested-container;
  }
}

.footer {
  margin-top: 2em;
  background-color: $gray-background;
  padding: 2em 0;

  .footer-container {
    @extend %set-max-width-and-center-element;

    .footer-logo {
      float: left;
      padding: 1.3em 0;
      padding-right: 2em;

      img {
        max-height: 1.3em;
      }
    }

    .footer-content {
      float: left;

      p {
        margin-bottom: 0;
      }
    }

    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
}
